<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>


</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center" >
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi corrupti at vitae repellendus ab sit dolor delectus incidunt ea recusandae modi atque, sunt facilis pariatur voluptates? Iusto error officia eaque, cupiditate autem, eum pariatur aliquam consectetur commodi ipsam nam eos libero vero itaque, fuga sequi incidunt voluptatem omnis quod quia! Repellat, ad. Et animi esse officiis voluptatum dolorum hic sit quidem incidunt autem perspiciatis quos, nobis illum ab quis atque ullam aut omnis odit dicta fuga itaque! Voluptatum quas fugit aliquid quam. Voluptatem fugiat saepe corrupti aliquid placeat eveniet atque consectetur eaque nemo cum nobis, voluptatum eum, quo veritatis quaerat ea in numquam natus deleniti vel doloremque? Neque non necessitatibus quasi, aspernatur ullam eaque deserunt dolor ratione quibusdam amet reprehenderit inventore soluta, quisquam eum. Voluptas accusantium repellendus, ipsum alias minima eligendi vel? Consequuntur iste, ea aliquam illo rem pariatur doloremque reprehenderit eos praesentium voluptate, iure, explicabo facere! Similique, ut quasi!</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>